@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
.register{
    @include padding-baseline;
    &__form{
        display: flex;
        flex-direction: column;
    }
    &__header{
        display: flex;
        align-items: center;
        @include margin-headline;
    }
    &__input{
        @include margin-baseline;
        @include input;
    }
    &__button{
        @include buttons;
    }
}