@use '../../../styles/typography' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.home-card{
    display: flex;
    align-items: center;
    border: 3px solid black;
    height: 60px;
    width: 100%;
    min-width: 250px;
    padding: 0 1rem;
    border-radius: 25px;

    &__text{
        margin-right: auto;
    }
    &__icon{
        @include icon;
    }
}