@use '../../../styles/typography' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.home-card{
    display: flex;
    align-items: center;
    
    @include card-container;
    
    &__text{
        margin-right: auto;
        @include display-tablet{
            margin: 0
        }
    }
    &__icon{
        margin: auto 0;
        @include icon;
    }
}