@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.cart{
    overflow-y: auto;
    max-height: 40%;
    &__item{
        display: flex;
        align-items: center;
        
    }
    &__name{

    }
    &__type{
        
    }
}