@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.cart{
    overflow-y: auto;
    max-height: 60%;
    @include display-tablet{
        max-height: 100%;
    }
    &__item{
        display: flex;
        align-items: center;
        
    }
    &__name{
        width: 40%;
        margin-right: 3rem;
    }
    &__type{
        margin-right: auto;
    }
}