@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.section-button{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    height: fit-content;
    border: 3px solid black;
    border-radius: 100%;
    &--active{
        background-color: $rose-taupe;
    }
    @include display-tablet{
        border-radius: 25px;
        padding: 0.5rem 1rem;
    }
    &__icon{
        @include icon;
    }
    &__label{
        display: none;
        @include display-tablet{
            display: contents;
        }
    }
}
