@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.hero{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    background-color: green;
    @include padding-baseline;
    &__title{}
}
.home-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    @include margin-headline;
    @include padding-baseline;
    
    &__card{
        @include margin-baseline;
        cursor: pointer;
    }
    &__user{
        margin: auto 0;
        margin-bottom: 5px;
        border-bottom: 1px solid black;
        cursor: pointer;
    }
}