@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.pantry{
    @include padding-baseline;
    &__head{
        display: flex;
        align-items: center;
    }
    &__header{
        display: flex;
        align-items: center;
        margin-right: auto;
        @include margin-headline;
    }

    &__icon{
        @include icon;
        margin-right: 0.5rem;
    }   

    &__buttons{
        display: flex;
    }
    
}