@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.pantry{
    padding-top: 1rem;
    @include padding-baseline;
    &__head{
        display: flex;
    }
    &__header{
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    &__icon{
        @include icon;
    }

    &__buttons{
        display: flex;
    }
}