@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.new-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 144px;
    border-radius: 25px;
    width: 33%;
    border: 3px solid black;
    cursor: pointer;
    
    &__title{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid black;
        width: 100%;
        height: 40%;
    }
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}