@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/typography' as *;

.header{
    @include padding-baseline;
    
    width: 100%;
    height: 4rem;
    background-color: $rose-taupe;
    display: flex;
    align-items: center;
    @include display-tablet(){
        height: 5rem;;
    }
    &__logo{
        height: 100%;
    }
    &__title{
        margin-right: auto;
        height: 70%;
    }
    &__user{
        display: flex;
        align-items: center;
        @include font-subheader;
    }
    &__username{
        height:fit-content;
        margin-right: 8px;
    }
}