@use '../../styles/typography';
@use '../../styles/variables';
@use '../../styles/mixins';

.home-card{
    display: flex;
    align-items: center;
    border: 3px solid black;
    height: 60px;
    width: 166px;
    padding: 0 0.5rem;
    border-radius: 25px;
    &__text{

        margin-right: auto;
    }
    &__icon{
        height: 80%;
    }
}