@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.new-pantry{

    @include modal-parent;
    
    &__content{
        background-color: white;
        @include padding-baseline;
        height: 100%;
        width: 100%;
        overflow: auto;
    }
    &__head{
        display: flex;
        align-items: center;
    }
    &__title{
        margin-right: auto;
        @include margin-headline;
    }
    &__icon{
        height: 10rem;
    }
    &__form{
        display: flex;
        flex-direction: column;
    }
    &__label{
        margin-bottom: 4px;
    }
    &__input{
        @include margin-baseline;
        @include input
    }
    &__buttons{
        @include display-tablet{
            display: flex;
        }
    }
    &__button{
        @include buttons;
        @include margin-baseline;
    }
}