@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.item-card{
    @include card-container;
    &__body{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        // border-bottom: 3px solid black;
    }
    &__title{
        margin-bottom: 10px;
    }
    &__buttons{
        display: flex;
        width: 100%;
        min-height: 30%;
    }

    &__button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }  
    &__button--left{
        // border-right: 3px solid black;
    }
    &__bt-icon{
        height: 70%;
    }  


}