@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/typography' as *;

.item-card{
    @include card-container;
    &__body{
        display: flex;
        margin-right: auto;
    }
    &__title{
        @include font-label;
        width: 80%;
    }
    &__icon{
        display: none;
    }
    &__buttons{
        display: flex;
    }
    &__bt{
        @include icon;
        margin-left: 4px;
    }


}