@use '../../../styles/typography' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.home-card{
    @include card-container;
    padding: 1rem;
    &__text{
        margin-right: auto;
        @include display-tablet{
            margin: auto;
            margin-bottom: 2rem;
        }
    }
    &__icon{
        @include icon;
    }
}