@use './variables' as *;

@mixin display-tablet {
    @media screen and (min-width: $display-tablet) {
        @content;
    }
}
@mixin display-desktop {
    @media screen and (min-width: $display-desktop) {
        @content;
    }
}


//Cards 
@mixin card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
@mixin card-item {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    @include display-tablet(){
        margin-right: 1rem;
        margin-left: 1rem;
    }
    @include display-desktop(){
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
}
@mixin card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 144px;
    border-radius: 25px;
    border: 3px solid black;
    margin: auto;
    margin-bottom: 1rem;
    cursor: pointer;

    @include display-tablet(){
        margin-bottom: 2rem;
    }
}

//Modals 
@mixin modal-parent{
    position:fixed;
    top: auto;
    right: auto;
    left: 0;
    bottom: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin modal-child {
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    background-color: white;
    @include display-tablet(){
        width: 60%;
        height: 100%;
        right: 0;
    }
}
//Padding 
@mixin padding-baseline {
    padding-right:  0.75rem;
    padding-left:  0.75rem;
    @include display-tablet(){
        padding-right:  3rem;
        padding-left:  3rem;
    }
    @include display-desktop(){
        padding-right:  6rem;
        padding-left:  6rem;
    }
}

//Margins 
// Vertical Space between header and elements below
@mixin margin-headline {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
// Vertical Space between elements
@mixin margin-baseline {
    margin-bottom: 0.5rem;
}

//Components
@mixin icon{
    height: 2rem;
}
@mixin input {
    width: 100%;
    border: 3px solid black;
    background-color: lightcoral;
    height: 2.5rem;
    padding: 0.25rem;
    border-radius: 10px;
}

@mixin buttons {
    border: 3px solid black;
    color: black;
    background-color: lightgreen;
    height: 2rem;
    width: 100%;
    border-radius: 15px;
}