
@font-face {
    font-family: 'Cabin';
    src: url('../../src/assets/fonts/Cabin-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Cabin';
    src: url('../../src/assets/fonts/Cabin-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Cabin';
    src: url('../assets/fonts/Cabin-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Cabin';
    src: url('../../src/assets/fonts/Cabin-Bold.ttf');
    font-weight: 700;
}