@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.foods{
    &__header{
        padding-bottom: 1rem;
    }
    &__list{
        @include card-list;
    }
    &__list-item{
        @include card-item;
    }
}

.food-new{
    background-color: rgba($color: $feldgrau, $alpha: 0.5);
}

.food-stale{
    background-color: rgba($color: $rosy-brown, $alpha: 0.5);
}

.food-old{
    background-color: rgba($color: $rose-taupe, $alpha: 0.5);
}