@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.new-food{
    @include modal-parent;

    &__content{
        @include modal-child;
    }
    &__header{
        @include margin-headline;
        display: flex;
        align-items: center;
    }
    &__text{
        margin-bottom: 2px;
    }
    &__input{
        @include margin-baseline;
        color: black;
    }
    &__radio-group{
        display: flex;
        @include margin-baseline;
    }
    &__radio{
        display: flex;
        margin-right: auto;
    }
    &__radio-button{
        margin-right: 5px;
    }
  
    &__list-title{
        margin-top: 1rem;
        margin-bottom: 8px;
    }

    &__list{
        margin-bottom: 1rem;
    }
    
    &__button{
        width: 100%;
        padding: 0 2rem
    }
}